<div>
  <aside class="left-side">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="filter-col">Поиск по:</label>
        <select id="search-pattern" class="form-control">
                <option value="1">ФИО</option>
                <option value="2">Номеру телефона</option>
        </select>
        <input type="text" class="form-control" id="search-field" placeholder="Введите данные для поиска" data-bind="value: searchValue">
        <a class="btn btn-default"  data-bind="click: updateTable"><span class="glyphicon glyphicon-search"></span> Найти</a>
         <a class="btn btn-primary" data-bind="click: addClient" style="float: right;"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
      </div>
    </form>
    <table class="table table-bordered" data-bind="visible: clients().length">
      <thead>
        <tr>
          <th class="text-center">ФИО</th>
          <th class="text-center">Телефон</th>
        </tr>
      </thead>
      <tbody class="text-center" data-bind="foreach: clients">
        <tr>
          <td class="td-name" data-bind="click: $root.showInfo, text: name"></td>
          <td class="td-phone" data-bind="click: $root.showInfo, text: phone"></td>
        </tr>
      </tbody>
    </table>
  </aside>
  <aside class="right-side" data-bind="visible: selectClient">
    <div class="info">
      <h3>Информация о клиенте: </h3>
      <hr>
      <div data-bind="visible: clickEdit">
        <blockquote>
          <p class="lead">Имя:
            <p class="lead" data-bind="text: infoTab().name"></p>
          </p>
          <br> <br>
          <p class="lead">Паспорт:
            <p class="lead" data-bind="text: infoTab().passport"></p>
          </p>
          <br> <br>
          <p class="lead">Телефон:
            <p class="lead" data-bind="text: infoTab().phone"></p>
          </p>
          <br> <br>
          <p class="lead">Дата рождения:
            <p class="lead" data-bind="text: infoTab().bday"></p>
          </p>
          <br> <br>
          <p class="lead">Адрес:
            <p class="lead" data-bind="text: infoTab().adress"></p>
          </p>
          <br> <br>
          <p class="lead">Кол-во посищений:
            <p class="lead" data-bind="text: infoTab().visits"></p>
          </p>
        </blockquote>
        <a href="#" class="btn btn-warning" data-bind="click: editValue"><span class="glyphicon glyphicon-edit"></span> Изменить</a>
      </div>

      <div data-bind="visible: !clickEdit()">
        <blockquote>
          <p>Имя: <input class="form-control" type="text" name="Имя" data-bind="value: infoTab().name"></p>
          <p>Паспорт: <input class="form-control" type="text" name="Паспорт" data-bind="value: infoTab().passport"></p>
          <p>Телефон: <input class="form-control" type="text" name="Телефон" data-bind="value: infoTab().phone"></p>
          <p>Дата рождения: <input class="form-control" type="date" min="1996-01-01" name="Дата рождения" data-bind="value: infoTab().bday"></p>
          <p>Адрес: <input class="form-control" type="text" name="Адрес" data-bind="value: infoTab().adress"></p>
        </blockquote>
        <a data-bind="click: saveChanges" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить</a>       
      </div>

    </div>
  </aside>
</div>